:root {
    --darkblue: rgb(8, 5, 144);
}

header {
    background-color: rgb(59, 165, 246);
    color: var(--darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    height: 100px;
}

#current-weather {
    border: 2px solid black;
    position: absolute;
    top: 125px;
    left: 100px;
    width: 850px;
    padding: 10px;
    color: var(--darkblue);
}

#current-weather h2 {
    color: black;
}

#current-weather p {
    font-size: larger;
}

.forecast {
    display: flex;
    position: absolute;
    top: 350px;
    margin-top: 50px;
}

.forecast h3 {
    position: relative;
    top: -50px;
    left: 100px;
}

.forecast card {
    position: relative;
    right: 165px;
    background-color: antiquewhite;
    margin: 10px;
    width: 175px;
    padding: 15px;
    color: var(--darkblue);
}

.forecast h4 {
    color: black;
}

#search {
    border: 2px solid black;
    position: absolute;
    top: 100px;
    right: 0px;
    width: 350px;
    height: 667px;
}

form {
    margin-left: 10px;
    padding: 20px;
}

#search-bar {
    margin-top: 30px;
    width: 250px;
    height: 35px;
}

#search-btn {
    margin-top: 20px;
    width: 250px;
    height: 35px;
    background-color:antiquewhite;
}

#search ul {
    list-style-type: none;
}

#search li {
    padding: 5px;
}

#search li:hover {
    background-color: antiquewhite;
    cursor: pointer;
}